<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Edit {{ctrl.clickedStudent.firstname + " " + ctrl.clickedStudent.lastname}} info</h4>
            </div>

            <div class="modal-body">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="editfirstname">First name:</label>
                            <input type="text" class="form-control" id="editfirstname" ng-model="ctrl.clickedStudent.firstname">
                        </div>
                        <div class="form-group">
                            <label for="editlastname">Last name:</label>
                            <input type="text" class="form-control" id="editlastname" ng-model="ctrl.clickedStudent.lastname">
                        </div>
                        <div class="form-group">
                            <label for="editemail">Email:</label>
                            <input type="email" class="form-control" id="editemail" ng-model="ctrl.clickedStudent.email">
                        </div>
                        <div class="form-group">
                            <label for="group">Group:</label>
                            <select class="form-control input-md" name="singleSelect" ng-model="ctrl.clickedStudent.group">
                                <option ng-repeat="group in ctrl.groupsList" value="{{group.name}}">{{group.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="ctrl.updateStudent()" data-dismiss="modal">Edit student</button>
            </div>
        </div>
    </div>
</div>
