<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">New student registration</h4>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="firstname">First name:</label>
                        <input type="text" class="form-control" id="firstname" ng-model="students.newStudent.firstname">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last name:</label>
                        <input type="text" class="form-control" id="lastname" ng-model="students.newStudent.lastname">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" ng-model="students.newStudent.email">
                    </div>
                    <div class="form-group">
                        <label for="group">Group:</label>
                        <select class="form-control input-md" id="group" name="singleSelect" ng-model="students.newStudent.group">
                            <option ng-repeat="group in students.groupsList" value="{{group.name}}">{{group.name}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="students.saveStudent(students.newStudent)" data-dismiss="modal">Create student</button>
            </div>
        </div>
    </div>
</div>
