<div class="container">
    <div class="page-header">
        <button type="button" class="btn btn-success pull-right" ng-click="students.newStudent()">Add students</button>
        <h1>Students List</h1>
    </div>
    <div class="alert-strap"></div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Index</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Group</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in students.studentsList">
                <td>{{$index+1}}</td>
                <td>{{student.firstname}}</td>
                <td>{{student.lastname}}</td>
                <td>{{student.email}}</td>
                <td>{{student.group}}</td>
                <td><button type="button" class="btn btn-info" data-toggle="modal" href="#my-modal-edit" ng-click="students.selectStudent(student)"><span class="glyphicon glyphicon glyphicon-pencil"></span></button></td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal" href="#my-modal-delete" ng-click="students.selectStudent(student)"><span class="glyphicon  glyphicon glyphicon-trash"></span></button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
